@import url(./styles/about.styles.css);
@import url(./styles/blog.styles.css);
@import url(./styles/content.styles.css);
@import url(./\/styles/customers.styles.css);
@import url(./styles/devices.styles.css);
@import url(./styles/dropdown.styles.css);
@import url(./styles/footer.styles.css);
@import url(./styles/header.styles.css);
@import url(./styles/signup.styles.css);
@import url(./styles/start.styles.css);
@import url(./styles/statistics.styles.css);