body {
    padding: 0;
    margin: 0;
}

.header,
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    font-family: Quicksand;
}

.header_logo,
.footer_logo {
    background-color: #5E81FE;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.header_menu,
.footer_menu {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    text-transform: capitalize;
    align-items: center;
}

.menu_list {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.menu_item {
    font-weight: 500;
    cursor: pointer;
    color: #697CA6;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.menu_item:hover {
    color: #5E81FE;
}

.header_links,
.footer_links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.header_btn,
.footer_btn {
    font-family: Quicksand;
    font-weight: 700;
    padding: 13px 16px;
    background-color: #D2E1FF;
    color: #3A79FF;
    border: none;
    border-radius: 5%;
    font-size: 13px;
    cursor: pointer;
}

.header_btn:hover,
.footer_btn:hover {
    background-color: #bdd2fc;
    transition: all 0.3s ease;
}

.content_block {
    width: 100%;
    height: 570px;
    background-image: url(./assets/content_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 7%;
}

.content_label,
.devices_label,
.about_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    color: #3D4F9F;
    text-transform: uppercase;
}

.content_title,
.devices_title,
.about_title {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 48px;
    color: #3D4F9F;
    margin: 13px;
}

.content_subtitle,
.devices_subtitle {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: #8D96BD;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: normal;
    width: 35%;
    text-align: center;
    line-height: 29px;
}

.content_btn {
    width: 52px;
    height: 52px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
}

.btn_play {
    border: 8px solid transparent;
    position: absolute;
    border-left: 12px solid #5E81FF;
    border-radius: 30%;
    top: 18px;
    left: 22px;
}

.content_btn:hover {
    border: 2px solid #5E81FF;
    transition: all 0.3s ease;
}

.partners {
    width: 100%;
    height: 145px;
}

.partners_images {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
}

.devices {
    width: 100%;
    height: 776px;
    background-image: url(./assets/devices_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.devices_subtitle {
    text-align: justify;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    font-family: Roboto;
    width: 39%;
}

.devices_title {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
}

.devices_text {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    align-self: center;
    margin: 0 auto;
}

.devices_label {
    padding-bottom: 3%;
}

.devices_buttons {
    display: flex;
    margin-top: 3%;
}

.video,
.features {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 13px;
    padding: 13px 21px;
    color: #ADB4D2;
    border: 1px solid #ADB4D2;
    border-radius: 3%;
    cursor: pointer;
}

.video:hover,
.features:hover {
    color: white;
    background-color: #4C85FF;
    border: 1px solid #4C85FF;
    transition: all 0.3s ease;
}

.about {
    background-image: url(./assets/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 885px;
}

.item_img {
    background-color: #F1F5FF;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.item_img:hover {
    background-color: #D2E1FF;
}

.about_title {
    font-size: 30px;
    font-weight: 500;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

.about_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
    height: 438px;
}

.about_item {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    height: 65%;
    justify-content: space-evenly;
}

.item_logo {
    align-self: center;
    margin-left: 2%;
}

.item_title {
    font-family: Open Sans;
    font-size: 14px;
    color: #4074F8;
    font-weight: 700;
}

.item_subtitle {
    font-family: Open Sans;
    font-size: 11px;
    color: #ADB3CB;
    font-weight: 600;
    text-align: center;
    align-content: flex-start;
    height: 110px;
}

.about_buttons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    font-family: Quicksand;
    font-size: 13px;
}

.read,
.start {
    padding: 13px 15px;
    border: none;
    border-radius: 3%;
    font-weight: 700;
    cursor: pointer;
}

.read {
    color: #D43F3F;
    background-color: #FFD7D7;
}

.start {
    background-color: #D2E1FF;
    color: #3A79FF;
}

.buttons_label {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    color: #ADB3CB;
}

.read:hover {
    background-color: #fcc5c5;
    transition: all 0.3s ease;
}

.start:hover {
    background-color: #bdd2fc;
    transition: all 0.3s ease;
}

.statistics {
    width: 100%;
    height: 342px;
    display: flex;
    flex-direction: row;
}

.statistics1 {
    width: 50%;
    background-color: #6686ff;
    color: white;
    font-family: Quicksand;
    padding-right: 4%;
}

.statistics1_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 90%;
    letter-spacing: 0.03em;
}

.statistics_img {
    right: 0;
    width: 110px;
    height: 99px;
}

.statistics2 {
    width: 50%;
    background-color: #e6edff;
    color: #5E80FF;
    font-family: Quicksand;
    padding-left: 3%;
}

.statistics_title {
    font-weight: 400;
    font-size: 48px;
}

.statistics1_subtitle {
    font-weight: 500;
    font-size: 18px;
    width: 37%;
    text-align: right;
}

.statistics2_text {
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    margin-left: 3%;
    flex-direction: column;
    letter-spacing: 0.03em;
}

.statistics2_subtitle {
    font-weight: 500;
    font-size: 18px;
    width: 36%;
    text-align: left;
}

.blog {
    width: 100%;
    height: 865px;
    background-color: #f5f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog_content {
    width: 958px;
    height: 394px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid #e8eeff;
}

.block1 {
    width: 100%;
    display: flex;
    position: relative;
}

.block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81%;
    margin-left: 3%;
}

.content_images {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    padding-top: 7%;
    padding-left: 5%;
}

.content_img1 {
    width: 267px;
    height: 267px;
}

.content_img2 {
    width: 126px;
    height: 126px;
    border-radius: 2%;
}

.blog_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 11%;
    margin-top: 8%;
}

.text_title {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 36px;
    color: #3D4F9F;
}

.text_subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    width: 90%;
    line-height: 27px;
    margin-top: 5%;
    text-align: justify;
}

.text_buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.text_btn {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: white;
    color: #A6B6DA;
    padding: 13px 15px;
    cursor: pointer;
}

.text_btn:hover {
    color: #3A79FF;
    background-color: #D2E1FF;
    border-radius: 2%;
    transition: all 0.3s ease;
}

.content_finder {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: white;
    background-image: url(./assets/finder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 39%;
    top: 32%;
    border: 2px solid white;
    cursor: pointer;
}

.content_finder:hover {
    border: 2px solid #5E81FF;
    transition: all 0.3s ease;
}

.blog_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.blog_title {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 24px;
    color: #3D4F9F;
    margin-bottom: 7%;
}

.customers {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 479px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.customers_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15%;
}

.customers_quote {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -13%;
}

.quote_block {
    width: 423px;
    height: 76px;
    margin: 0 auto;
    background-color: white;
    padding: 41px 71px 53px 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.customers_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #3D4F9F;
}

.customers_title {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 36px;
    color: #3D4F9F;
    margin-top: 3%;
}

.customers_subtitle {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #A4ABC8;
    width: 50%;
    margin-top: 3%;
}

.quote_text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
}

.quote_img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image: url(./assets/quote.png);
    position: absolute;
    top: 82%;
}

.dropdown_block {
    width: 100%;
    height: auto;
}

.dropdown_title {
    cursor: pointer;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: #495274;
}

.dropdown_content {
    display: none;
    list-style: none;
}

.dropdown_checkbox {
    display: none;
}

.dropdown_checkbox:checked~.dropdown_content {
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.dropdown_item {
    padding-top: 5%;
}

.dropdown_text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    width: 67%;
}

.dropdown_btn {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 13px;
    color: #7382A3;
    background-color: #E8ECF4;
    padding: 13px 15px;
    border: none;
    width: 166px;
    cursor: pointer;
}

.dropdown_btn:hover {
    color: #3A79FF;
    background-color: #D2E1FF;
    border-radius: 2%;
    transition: all 0.3s ease;
}

hr {
    margin-top: 3%;
    width: 743px;
    border: none;
    border-top: 1px solid #D8E3FE;
}

.block_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.block_title {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 24px;
    color: #3D4F9F;
    margin-top: 2%;
}

.block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.start_block {
    width: 100%;
    height: 447px;
    background-image: url(./assets/start_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    width: 50%;
    margin: 0 auto;
}

.start_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.start_title {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 3%;
}

.start_subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
    line-height: 29px;
    padding-top: 3%;
}

.start_btn {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 13px;
    color: #C7D3FF;
    padding: 13px;
    border: 1px solid #C7D3FF;
    border-radius: 3%;
    background-color: #6182ff;
    cursor: pointer;
    width: 170px;
}

.start_btn:hover {
    background-color: white;
    color: #565F82;
    transition: all 0.3s ease;
    font-weight: 600;
}

.start_buttons {
    display: flex;
    padding-top: 7%;
}

.signup_block {
    width: 100%;
    height: 332px;
    display: flex;
    align-items: center;
}

.signup_text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
}

.signup_email {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 18px;
    color: #3D4F9F;
}

.signup_subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    margin-top: 3%;
    line-height: 27px;
}

.email {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding: 21px 23px;
    border-radius: 5%;
    width: 279px;
    border: none;
    background-color: #EFEFF7;
    margin-right: 3%;
}

.email:focus {
    border: 1px solid #4D6CE1;
    outline: none;
}

.save {
    border: 1px solid white;
    border-radius: 5%;
    background-color: #4D6CE1;
    color: white;
    padding: 20px 62px;
    cursor: pointer;
}

.save:hover {
    background-color: white;
    color: #4D6CE1;
    border: 1px solid #4D6CE1;
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer {
    width: 100%;
    height: 287px;
    border-top: 1px solid #E4E6F0;
}

.footer_text {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
    margin-left: 14%;
    margin-top: -5%;
}