.about {
    background-image: url(../assets/about_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 885px;
}

.item_img {
    background-color: #F1F5FF;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.item_img:hover {
    background-color: #D2E1FF;
}

.about_title {
    font-size: 30px;
    font-weight: 500;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

.about_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
    height: max-content;
    margin-top: 50px;
}

.about_item {
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    height: 300px;
    justify-content: space-evenly;
}

.item_logo {
    align-self: center;
    margin-left: 2px;
}

.item_title {
    font-family: Open Sans;
    font-size: 14px;
    color: #4074F8;
    font-weight: 700;
    padding-top: 32px;
}

.item_subtitle {
    font-family: Open Sans;
    font-size: 11px;
    color: #ADB3CB;
    font-weight: 600;
    text-align: center;
    align-content: flex-start;
    height: 110px;
    padding-top: 40px;
}

.about_buttons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    font-family: Quicksand;
    font-size: 13px;
    padding-top: 50px;
}

.read,
.start {
    padding: 13px 15px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.read {
    color: #D43F3F;
    background-color: #FFD7D7;
}

.start {
    background-color: #D2E1FF;
    color: #3A79FF;
}

.buttons_label {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    color: #ADB3CB;
}

.read:hover {
    background-color: #fcc5c5;
    transition: all 0.3s ease;
}

.start:hover {
    background-color: #bdd2fc;
    transition: all 0.3s ease;
}