.blog {
    width: 100%;
    height: 865px;
    background-color: #f5f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog_content {
    width: 958px;
    height: 394px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 1px solid #e8eeff;
}

.block1 {
    width: 100%;
    display: flex;
    position: relative;
}

.block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81%;
    margin-left: 3%;
}

.content_images {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    padding-top: 7%;
    padding-left: 5%;
}

.content_img1 {
    width: 267px;
    height: 267px;
}

.content_img2 {
    width: 126px;
    height: 126px;
    border-radius: 2%;
}

.blog_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 110px;
    margin-top: 80px;
}

.text_title {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 36px;
    color: #3D4F9F;
}

.text_subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.48px;
    color: #8D96BD;
    width: 90%;
    line-height: 27px;
    margin-top: 15px;
    text-align: justify;
}

.text_buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}

.text_btn {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: white;
    color: #A6B6DA;
    padding: 13px 15px;
    cursor: pointer;
}

.text_btn:hover {
    color: #3A79FF;
    background-color: #D2E1FF;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.content_finder {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../assets/finder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 100px;
    top: 102px;
    border: 2px solid white;
    cursor: pointer;
}

.content_finder:hover {
    border: 2px solid #5E81FF;
    transition: all 0.3s ease;
}

.blog_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #3D4F9F;
}

.blog_title {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 24px;
    color: #3D4F9F;
    margin-bottom: 80px;
}