body {
    padding: 0;
    margin: 0;
}

.footer {
    width: 100%;
    height: 287px;
    border-top: 1px solid #E4E6F0;
}

.footer_text {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    color: #AEB8D0;
    margin-left: 80px;
}