.header,
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-family: Quicksand;
}

.header_logo,
.footer_logo {
    background-color: #5E81FE;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 30px;
    display: flex;
    flex-shrink: 0;
}

.header_menu,
.footer_menu {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    text-transform: capitalize;
    align-items: center;
}

.menu_list {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.menu_item {
    font-weight: 500;
    cursor: pointer;
    color: #697CA6;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.menu_item:hover {
    color: #5E81FE;
}

.header_img,
.footer_img {
    filter: grayscale(1);
    height: 20px;
    width: 20px;
}

.header_img:hover,
.footer_img:hover {
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(187.2deg) brightness(1) drop-shadow(0 0 0.5rem #5E81FE);
}

.header_links,
.footer_links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.header_btn,
.footer_btn {
    font-family: Quicksand;
    font-weight: 700;
    padding: 13px 16px;
    background-color: #D2E1FF;
    color: #3A79FF;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.header_btn:hover,
.footer_btn:hover {
    background-color: #bdd2fc;
    transition: all 0.3s ease;
}