.signup_block {
    width: 100%;
    height: 332px;
    display: flex;
    align-items: center;
}

.signup_text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

.signup_email {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 18px;
    color: #3D4F9F;
}

.signup_subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.48px;
    color: #8D96BD;
    margin-top: 25px;
    line-height: 27px;
}

.email {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding: 21px 23px;
    border-radius: 2px;
    width: 279px;
    border: 1px solid #EFEFF7;
    background-color: #EFEFF7;
    margin-right: 15px;
}

.email:focus {
    border: 1px solid #4D6CE1;
    outline: none;
}

.save {
    border: 1px solid white;
    border-radius: 3px;
    background-color: #4D6CE1;
    color: white;
    padding: 20px 62px;
    cursor: pointer;
}

.save:hover {
    background-color: white;
    color: #4D6CE1;
    border: 1px solid #4D6CE1;
    transition: all 0.3s ease;
}