.start_block {
    width: 100%;
    height: 447px;
    background-image: url(../assets/start_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    width: 50%;
    margin: 0 auto;
}

.start_label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.start_title {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 25px;
}

.start_subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    text-align: center;
    line-height: 29px;
    padding-top: 30px;
}

.start_btn {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 13px;
    color: #C7D3FF;
    padding: 13px;
    border: 1px solid #C7D3FF;
    border-radius: 2px;
    background-color: #6182ff;
    cursor: pointer;
    width: 170px;
}

.start_btn:hover {
    background-color: white;
    color: #565F82;
    transition: all 0.3s ease;
    font-weight: 600;
}

.start_buttons {
    display: flex;
    padding-top: 50px;
}